<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Catalog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/list-all-products.css') }}">
</head>
<body>
  <header>
    <h1>Our Product Catalog</h1>
    <a href="{{ url_for('register_products') }}" class="register-product-button">Register Product</a>
    <a href="{{ url_for('logout') }}" class="register-product-button">Logout</a>
    <a href="{{ url_for('products_analisys_quantity') }}" class="register-product-button">Quantity</a>
  </header>
  <main>
    <div class="product-grid">
      {% for product in products %}
        <div class="product-card">
          <h2 class="product-name">{{ product.name }}</h2>
          <p class="product-price">${{ product.price }}</p>
          <p class="product-quantity">Available: {{ product.quantity }}</p>
        </div>
      {% endfor %}
      </div>
  </main>
</body>
</html>