<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gerenciamento de Produtos</h1>
        <div class="button-container">
            <a href="/products/register" class="btn">Registrar Produto</a>
            <a href="/products/listall" class="btn">Listar Produtos</a>
        </div>
    </div>
</body>
</html>
